## 범주형 데이터 처리하기

데이터의 종류
1. 수치데이터
    - 수치데이터만 대부분의 머신러닝에서 사용가능
2. 범주데이터
    - 원핫 인코딩 : 배열에서 하나만 1로 만드는 인코딩
3. 자연어
    - 임베딩, 단어가방, 매핑
4. 이미지
    - 흑백:명암값
    - 컬러:RGB인코딩
5. 음성
    - WAY 4K 진동값을 배열로 변환

In [1]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
x = [['mon'], ['tue'], ['wed']]
model = OneHotEncoder().fit(x)
x

[['mon'], ['tue'], ['wed']]

In [8]:
model.transform(x).toarray()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(data=[['mon', 2], ['tue', 3], ['wen', 4], ['wen', 3], ['thu', 5]], columns=['week', 'working_time'])

In [12]:
pd.get_dummies(df)

   working_time  week_mon  week_thu  week_tue  week_wen
0             2         1         0         0         0
1             3         0         0         1         0
2             4         0         0         0         1
3             3         0         0         0         1
4             5         0         1         0         0